{% schema %}
{
  "name": "c/ Product Cards",
  "class": "mt-10 mb-10",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "product_card",
      "name": "Product Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "usp_1",
          "label": "USP 1"
        },
        {
          "type": "text",
          "id": "usp_2",
          "label": "USP 2"
        },
        {
          "type": "text",
          "id": "usp_3",
          "label": "USP 3"
        },
        {
          "type": "text",
          "id": "usp_4",
          "label": "USP 4"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Link Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "c/ Product Cards",
      "category": "Product"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titel"
    }
  ]
}
{% endschema %}

<section class="{{ section.settings.background_color }} my-10">
  <div class="mb-5 mt-10 text-center">
    <h2 class="text-2xl font-bold">{{ section.settings.title }}</h2>
  </div>
  <div class="mx-auto grid container max-w-screen-lg gap-12 md:gap-5 md:grid-cols-3 px-3 md:px-0">
    {% for block in section.blocks %}
      <div class="grid p-5 text-center shadow-xl rounded relative h-full gap-4 !pb-12">
        <img
          src="{{ block.settings.image | img_url: '400x' }}"
          class="w-full rounded"
          loading="lazy">
        <h3 class="mt-10 text-2xl font-bold !my-0">
          {{ block.settings.title }}
        </h3>
        <p class="text-sm text-gray-500 !my-0">
          {{ block.settings.description }}
        </p>
        <ul class="grid gap-4 p-5 text-sm font-bold text-green-800 !my-0 pt-0">
          <li class="flex items-center gap-2 text-lg">
            <svg
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-8 w-8 text-green-700">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
            </svg>
            {{ block.settings.usp_1 }}
          </li>
          <li class="flex items-center gap-2 text-lg">
            <svg
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-8 w-8 text-green-700">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
            </svg>
            {{ block.settings.usp_2 }}
          </li>
          <li class="flex items-center gap-2 text-lg">
            <svg
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-8 w-8 text-green-700">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
            </svg>
            {{ block.settings.usp_3 }}
          </li>
          <li class="flex items-center gap-2 text-lg">
            <svg
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-8 w-8 text-green-700">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
            </svg>
            {{ block.settings.usp_4 }}
          </li>
        </ul>

        <a
          href="{{ block.settings.link }}"
          class="
            absolute
            -bottom-6
            left-1/2
            -translate-x-1/2
            w-max
            no-underline mx-auto inline-block
             rounded-md bg-green-800 px-5 py-2
            font-bold text-white shadow-xl transition d
            uration-200 ease-in-out hover:bg-green-700
          ">
          {{- block.settings.button_text -}}
        </a>
      </div>
    {% endfor %}
  </div>
</section>
