{% schema %}
  {
    "name": "Downloads",
    "settings": [],
     "presets": [
    {
      "name": "Codext Downloads"
    }
  ]
  }
{% endschema %}

{% if customer %}
<h2 class="welcome-heading">Willkommen im Medicom-Downloadbereich</h2>
<h5 class="welcome-sub-heading">
Willkommen im Download-Bereich von Medicom! Hier finden Sie Beipackzettel, Bilder und Produktinfos. Bitte lesen Sie vor Gebrauch unserer Produkte die Beipackzettel sorgfältig durch. Bilder helfen bei der Identifizierung und Schulung. Alle Materialien sind nur für den autorisierten Gebrauch bestimmt. Vielen Dank für Ihr Vertrauen in Medicom!</h5>
<input type="text" id="searchInput" onkeyup="filterProducts()" placeholder="Produkt suchen..." style="margin-bottom: 10px;">


  {% for product in collections.all.products %}
    <div class="product-container">
      <div class="product-header" onclick="toggleCollapse(this)">
        <div class="product-image">
          <img src="{{ product.featured_image | img_url }}" alt="{{ product.title }}">
        </div>
        <p>{{ product.title }}</p>
        <div class="arrow-down"></div>
      </div>
      <div class="product-content">
        {% for item in product.metafields.custom.pdp_downloads.value %}
          <div class="download-item">
            <a href="{{ item.datei | file_url }}" download target="_blank">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" height="20px" style="margin-right: 5px;">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>
              {{ item.linktitel }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

 <script>
  // Funktion zum Anzeigen/Verstecken des Inhalts beim Klicken auf den Header
  function toggleCollapse(element) {
    var content = element.parentElement.querySelector('.product-content');
    content.style.display = content.style.display === 'none' ? 'block' : 'none';
    var arrow = element.querySelector('.arrow-down');
    if (content.style.display === 'none') {
      arrow.classList.remove('arrow-up');
    } else {
      arrow.classList.add('arrow-up');
    }
  }

  // Funktion zum Filtern der Produkte basierend auf dem Eingabewert in der Suchleiste
  function filterProducts() {
    var input, filter, container, products, title, i, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    container = document.getElementsByClassName('product-container');
    for (i = 0; i < container.length; i++) {
      title = container[i].getElementsByTagName('p')[0];
      txtValue = title.textContent || title.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        container[i].style.display = '';
      } else {
        container[i].style.display = 'none';
      }
    }
  }
</script>

{% else %}
<div class="login-container">
  <p class="login-message">Kein Zugriff</p>
  <p class="login-sub-message">Bitte loggen Sie sich ein, um den vollen Zugriff zum Medicom-Downloadbereich zu erhalten.</p>
  <form action="/account/login" method="get">
    <button type="submit" class="login-button">Jetzt einloggen</button>
  </form>
</div>
{% endif %}