{%- liquid
    capture title_classes
        echo 'w900 '
        if section.settings.alignment == 'center'
            echo ' text-center align-center'
        endif
    endcapture
-%}

<article class="{% if section.settings.compact %}w940{% endif %}{% if section.settings.alignment == 'center' %} align-center text-center{% endif %}">
  {%- if section.settings.title != blank -%}
    <{{ section.settings.title_size }} class="{{ title_classes }} ff-{{ section.settings.title_font }} {% if section.settings.enable_custom_text_styling %}text-palette-{{ section.settings.title_color_palette }} fw-{{ section.settings.title_weight }}{% endif %}{% if section.settings.subtitle != blank %} m0{% endif %}">{{ section.settings.title }}</{{ section.settings.title_size }}>
  {%- endif -%}
  {%- if section.settings.subtitle != blank -%}
    <{{ section.settings.subtitle_size }} class="{{ title_classes }} ff-{{ section.settings.subtitle_font }} {% if section.settings.enable_custom_subtext_styling %}text-palette-{{ section.settings.subtitle_color_palette }} fw-{{ section.settings.subtitle_weight }}{% endif %}">{{ section.settings.subtitle }}</{{ section.settings.subtitle_size }}>
  {%- endif -%}
  <div class="m6tb btn" data-active-class="button-palette-{{ settings.active_tabs_color }}" style="font-size:{{ section.settings.font_size }};">
    <nav class="strong">
      <ul{% if section.settings.alignment == 'center' %} class="text-center"{% endif %}>
        {%- for block in section.blocks -%}
          <li{% if forloop.first %} class="link-btn button-palette-{{ settings.active_tabs_color }}"{% endif %} {{ block.shopify_attributes }}>
            <a href="./">
              {%- if block.settings.header_image -%}
                {%- assign image_width = block.settings.header_image_width -%}
                {%- assign image_width_2 = image_width | times: 2 -%}
                <img
                  src="{{ block.settings.header_image | image_url: width: image_width }}"
                  srcset="{{ block.settings.header_image | image_url: width: image_width }} 1x,{{ block.settings.header_image | image_url: width: image_width_2 }} 2x"
                  height="20"
                  width="{{ image_width }}"
                  style="width:{{ image_width }}px!important"
                  alt="{{ block.settings.header_image.alt | default: block.settings.title | escape }}"
                  loading="lazy"
                >
              {%- elsif block.settings.icon != 'none' -%}
                <img
                   src="{%- render 'icons', icon: block.settings.icon -%}"
                   width="20"
                   height="20"
                   alt="Icon for {{ block.settings.icon }}"
                   loading="lazy"
                >
              {%- endif -%}
              <span>{{ block.settings.title }}</span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
    <div>
      {%- for block in section.blocks -%}
        <div class="tab-closed{% unless forloop.first %} hidden{% endunless %}">
          {%- liquid
            assign collection = collections[block.settings.collection]
            if collection != blank
              assign total_number_of_items = collection.products.size | at_most: block.settings.products_limit
            else
              assign total_number_of_items = block.settings.products_limit
            endif
            assign limit = total_number_of_items | at_most: block.settings.number_of_items
            if limit == 0
              assign limit = block.settings.number_of_items
            endif
            if total_number_of_items > limit
              assign slider = true
            endif

            case limit
              when 0
                assign width_class = 'w33'
              when 1
                assign width_class = 'w33'
              when 2
                assign width_class = 'w50'
              when 3
                assign width_class = 'w33'
              when 4
                assign width_class = 'w25'
            endcase
          -%}
          {%- if collection != blank and collection.products != blank -%}
            <ul class="l4cl {{ width_class }} {% if slider %}slider{% else %}mobile-compact{% endif %}">
              {%- liquid
                for product in collection.products limit: block.settings.products_limit
                  capture placeholder_int
                    cycle 1, 2, 3, 4
                  endcapture
                  render 'product-item', product: product, placeholder_int: placeholder_int
                endfor
              -%}
            </ul>
          {%- endif -%}

          {{ block.settings.text }}
{% if block.settings.title == 'Inhaltsstoffe' %}
  {% for item in product.metafields.custom.pdp_downloads.value %}
    <div style="margin-bottom: 20px;">
      <a href="{{ item.datei | file_url }}" download>
               <svg viewBox="-4 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" height="30px" style="margin-right: 5px;">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M25.6686 26.0962C25.1812 26.2401 24.4656 26.2563 23.6984 26.145C22.875 26.0256 22.0351 25.7739 21.2096 25.403C22.6817 25.1888 23.8237 25.2548 24.8005 25.6009C25.0319 25.6829 25.412 25.9021 25.6686 26.0962ZM17.4552 24.7459C17.3953 24.7622 17.3363 24.7776 17.2776 24.7939C16.8815 24.9017 16.4961 25.0069 16.1247 25.1005L15.6239 25.2275C14.6165 25.4824 13.5865 25.7428 12.5692 26.0529C12.9558 25.1206 13.315 24.178 13.6667 23.2564C13.9271 22.5742 14.193 21.8773 14.468 21.1894C14.6075 21.4198 14.7531 21.6503 14.9046 21.8814C15.5948 22.9326 16.4624 23.9045 17.4552 24.7459ZM14.8927 14.2326C14.958 15.383 14.7098 16.4897 14.3457 17.5514C13.8972 16.2386 13.6882 14.7889 14.2489 13.6185C14.3927 13.3185 14.5105 13.1581 14.5869 13.0744C14.7049 13.2566 14.8601 13.6642 14.8927 14.2326ZM9.63347 28.8054C9.38148 29.2562 9.12426 29.6782 8.86063 30.0767C8.22442 31.0355 7.18393 32.0621 6.64941 32.0621C6.59681 32.0621 6.53316 32.0536 6.44015 31.9554C6.38028 31.8926 6.37069 31.8476 6.37359 31.7862C6.39161 31.4337 6.85867 30.8059 7.53527 30.2238C8.14939 29.6957 8.84352 29.2262 9.63347 28.8054ZM27.3706 26.1461C27.2889 24.9719 25.3123 24.2186 25.2928 24.2116C24.5287 23.9407 23.6986 23.8091 22.7552 23.8091C21.7453 23.8091 20.6565 23.9552 19.2582 24.2819C18.014 23.3999 16.9392 22.2957 16.1362 21.0733C15.7816 20.5332 15.4628 19.9941 15.1849 19.4675C15.8633 17.8454 16.4742 16.1013 16.3632 14.1479C16.2737 12.5816 15.5674 11.5295 14.6069 11.5295C13.948 11.5295 13.3807 12.0175 12.9194 12.9813C12.0965 14.6987 12.3128 16.8962 13.562 19.5184C13.1121 20.5751 12.6941 21.6706 12.2895 22.7311C11.7861 24.0498 11.2674 25.4103 10.6828 26.7045C9.04334 27.3532 7.69648 28.1399 6.57402 29.1057C5.8387 29.7373 4.95223 30.7028 4.90163 31.7107C4.87693 32.1854 5.03969 32.6207 5.37044 32.9695C5.72183 33.3398 6.16329 33.5348 6.6487 33.5354C8.25189 33.5354 9.79489 31.3327 10.0876 30.8909C10.6767 30.0029 11.2281 29.0124 11.7684 27.8699C13.1292 27.3781 14.5794 27.011 15.985 26.6562L16.4884 26.5283C16.8668 26.4321 17.2601 26.3257 17.6635 26.2153C18.0904 26.0999 18.5296 25.9802 18.976 25.8665C20.4193 26.7844 21.9714 27.3831 23.4851 27.6028C24.7601 27.7883 25.8924 27.6807 26.6589 27.2811C27.3486 26.9219 27.3866 26.3676 27.3706 26.1461ZM30.4755 36.2428C30.4755 38.3932 28.5802 38.5258 28.1978 38.5301H3.74486C1.60224 38.5301 1.47322 36.6218 1.46913 36.2428L1.46884 3.75642C1.46884 1.6039 3.36763 1.4734 3.74457 1.46908H20.263L20.2718 1.4778V7.92396C20.2718 9.21763 21.0539 11.6669 24.0158 11.6669H30.4203L30.4753 11.7218L30.4755 36.2428ZM28.9572 10.1976H24.0169C21.8749 10.1976 21.7453 8.29969 21.7424 7.92417V2.95307L28.9572 10.1976ZM31.9447 36.2428V11.1157L21.7424 0.871022V0.823357H21.6936L20.8742 0H3.74491C2.44954 0 0 0.785336 0 3.75711V36.2435C0 37.5427 0.782956 40 3.74491 40H28.2001C29.4952 39.9997 31.9447 39.2143 31.9447 36.2428Z" fill="#E93D3D"></path>
          </g>
        </svg>
        {{ item.linktitel }}
      </a>
    </div>
  {% endfor %}
{% endif %}
          
          {%- if block.settings.page -%}{{ block.settings.page.content }}{%- endif %}
          {%- if block.settings.image != blank -%}
            <div class="m20">
              <img
                src="{{ block.settings.image | image_url: width: block.settings.image_width }}"
                srcset="{% render 'image-srcset', image: block.settings.image %}"
                sizes="
                  (min-width: 760px) {% if block.settings.image_width == 1280 %}{% if settings.width < 2000 %}{{ settings.width }}px{% else %}100vw{% endif %}{% else %}{{ block.settings.image_width }}px{% endif %}
                  100vw
                  "
                alt="{{ block.settings.image.alt | default: block.settings.title | escape }}"
                width="{% if block.settings.image_width == 1280 and settings.width < 2000 %}{{ settings.width }}{% else %}{{ block.settings.image_width }}{% endif %}"
                height="640"
                loading="lazy"
              >
            </div>
          {%- endif -%}
          {%- if block.settings.liquid != empty -%}{{ block.settings.liquid }}{%- endif -%}
          {%- if block.settings.html != empty -%}{{ block.settings.html }}{%- endif -%}
          {%- if block.settings.show_contact_form -%}
            {%- assign contactform_id = section.id | append: '-' | append: block.id -%}
            {%- form 'contact', id: contactform_id, class: 'f8cm f8vl wide m3' -%}
            {%- if form.errors -%}
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                  var alertAttributes = { message: "{{ 'service.contact_form.email' | t }} {{ form.errors.messages['email'] }}", type: "error", origin: "{{ contactform_id }}" },
                          showAlertEvent = new CustomEvent("showAlert", {detail: alertAttributes});
                  window.dispatchEvent(showAlertEvent);
                });
              </script>
            {%- elsif form.posted_successfully? -%}
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                  var alertAttributes = { message: "{{ 'service.contact_form.posted_successfully' | t }}", type: "success", origin: "{{ contactform_id }}" },
                          showAlertEvent = new CustomEvent("showAlert", {detail: alertAttributes});
                  window.dispatchEvent(showAlertEvent);
                });
              </script>
            {%- endif -%}
              <fieldset>
                <legend>{{ 'service.contact_form.title' | t }}</legend>
                <div class="cols">
                  <p class="w50">
                    <label for="name">{{ 'service.contact_form.name' | t }}</label>
                    <input type="text" id="name" name="contact[name]" placeholder="{{ 'service.contact_form.name' | t }}">
                  </p>
                  <p class="w50">
                    <label for="email">{{ 'service.contact_form.email' | t }}<span class="overlay-theme">*</span></label>
                    <input type="email" id="email" name="contact[email]" placeholder="{{ 'service.contact_form.email' | t }}" required>
                  </p>
                </div>
                <p>
                  <label for="subject">{{ 'service.contact_form.subject' | t }}</label>
                  <input type="text" id="subject" name="contact[subject]" placeholder="{{ 'service.contact_form.subject' | t }}">
                </p>
                <p>
                  <label for="body">{{ 'service.contact_form.message' | t }}<span class="overlay-theme">*</span></label>
                  <textarea id="message" name="contact[body]" placeholder="{{ 'service.contact_form.message' | t }}" required></textarea>
                </p>
                <p class="submit m0"><button type="submit"{% if settings.button_style == 'inv' %} class="inv"{% endif %}>{{ 'service.contact_form.send' | t }}</button></p>
              </fieldset>
            {% endform %}
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</article>

<style>
  #shopify-section-{{ section.id }} { z-index: {{ section.settings.fix_zindex }}!important; }
  @media only screen and (min-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6tb { margin-bottom: {{ section.settings.spacing_desktop }}px; }
    {% if section.settings.spacing_desktop < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6tb { margin-bottom: {{ section.settings.spacing_mobile }}px; }
    {% if section.settings.spacing_mobile < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
</style>

{% schema %}
{
  "name": "t:sections.content_tabs.name",
  "class": "shopify-section-content-tabs",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.content_tabs.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.content_tabs.settings.alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.content_tabs.settings.alignment.options__2.label"
        }
      ],
      "default": "left"
    },
    {
      "id": "compact",
      "type": "checkbox",
      "label": "t:sections.content_tabs.settings.compact.label"
    },
    {
      "type": "header",
      "content": "t:global.typography.first_heading.header"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.typography.primary_title.label",
      "default": "Content tabs"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "t:global.typography.primary_title_font.label",
      "options": [
        {
          "value": "primary",
          "label": "t:global.typography.font.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:global.typography.font.secondary.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "t:global.typography.primary_title_size.label",
      "options": [
        {
          "value": "h4",
          "label": "t:global.typography.title_size.h4.label"
        },
        {
          "value": "h3",
          "label": "t:global.typography.title_size.h3.label"
        },
        {
          "value": "h2",
          "label": "t:global.typography.title_size.h2.label"
        },
        {
          "value": "h1",
          "label": "t:global.typography.title_size.h1.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_text_styling",
      "label": "t:global.typography.enable_custom_text_styling.label",
      "info": "t:global.typography.enable_custom_text_styling.info"
    },
    {
      "type": "select",
      "id": "title_color_palette",
      "label": "t:global.typography.primary_title_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:global.typography.color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.typography.color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.typography.color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.typography.color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.typography.color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.typography.color_palette.light_2.label"
        },
        {
          "value": "light_gradient",
          "label": "t:global.typography.color_palette.light_gradient.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:global.typography.color_palette.dark_gradient.label"
        }
      ],
      "default": "black"
    },
    {
      "type": "select",
      "id": "title_weight",
      "label": "t:global.typography.primary_title_weight.label",
      "options": [
        {
          "value": "100",
          "label": "t:global.typography.font_weight.100.label"
        },
        {
          "value": "200",
          "label": "t:global.typography.font_weight.200.label"
        },
        {
          "value": "300",
          "label": "t:global.typography.font_weight.300.label"
        },
        {
          "value": "400",
          "label": "t:global.typography.font_weight.400.label"
        },
        {
          "value": "500",
          "label": "t:global.typography.font_weight.500.label"
        },
        {
          "value": "600",
          "label": "t:global.typography.font_weight.600.label"
        },
        {
          "value": "700",
          "label": "t:global.typography.font_weight.700.label"
        },
        {
          "value": "800",
          "label": "t:global.typography.font_weight.800.label"
        },
        {
          "value": "900",
          "label": "t:global.typography.font_weight.900.label"
        }
      ],
      "default": "700"
    },
    {
      "type": "header",
      "content": "t:global.typography.second_heading.header"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "t:global.typography.subtitle.label"
    },
    {
      "type": "select",
      "id": "subtitle_font",
      "label": "t:global.typography.subtitle_font.label",
      "options": [
        {
          "value": "primary",
          "label": "t:global.typography.font.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:global.typography.font.secondary.label"
        }
      ],
      "default": "secondary"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "t:global.typography.subtitle_size.label",
      "options": [
        {
          "value": "h4",
          "label": "t:global.typography.title_size.h4.label"
        },
        {
          "value": "h3",
          "label": "t:global.typography.title_size.h3.label"
        },
        {
          "value": "h2",
          "label": "t:global.typography.title_size.h2.label"
        },
        {
          "value": "h1",
          "label": "t:global.typography.title_size.h1.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_subtext_styling",
      "label": "t:global.typography.enable_custom_text_styling.label",
      "info": "t:global.typography.enable_custom_text_styling.second_info"
    },
    {
      "type": "select",
      "id": "subtitle_color_palette",
      "label": "t:global.typography.subtitle_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:global.typography.title_color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.typography.title_color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.typography.title_color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.typography.title_color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.typography.title_color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.typography.title_color_palette.light_2.label"
        },
        {
          "value": "light_gradient",
          "label": "t:global.typography.title_color_palette.light_gradient.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:global.typography.title_color_palette.dark_gradient.label"
        }
      ],
      "default": "black"
    },
    {
      "type": "select",
      "id": "subtitle_weight",
      "label": "t:global.typography.subtitle_weight.label",
      "options": [
        {
          "value": "100",
          "label": "t:global.typography.font_weight.100.label"
        },
        {
          "value": "200",
          "label": "t:global.typography.font_weight.200.label"
        },
        {
          "value": "300",
          "label": "t:global.typography.font_weight.300.label"
        },
        {
          "value": "400",
          "label": "t:global.typography.font_weight.400.label"
        },
        {
          "value": "500",
          "label": "t:global.typography.font_weight.500.label"
        },
        {
          "value": "600",
          "label": "t:global.typography.font_weight.600.label"
        },
        {
          "value": "700",
          "label": "t:global.typography.font_weight.700.label"
        },
        {
          "value": "800",
          "label": "t:global.typography.font_weight.800.label"
        },
        {
          "value": "900",
          "label": "t:global.typography.font_weight.900.label"
        }
      ],
      "default": "400"
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 30
    },
    {
      "id": "fix_zindex",
      "type": "range",
      "label": "t:global.fix_zindex.label",
      "info": "t:global.fix_zindex.info",
      "min": 0,
      "max": 25,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "t:sections.content_tabs.blocks.tab.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.content_tabs.blocks.tab.settings.title.label",
          "info": "t:sections.content_tabs.blocks.tab.settings.title.info",
          "default": "Tab"
        },
        {
          "id": "icon",
          "type": "select",
          "label": "t:sections.content_tabs.blocks.tab.settings.icon.label",
          "info": "t:sections.content_tabs.blocks.tab.settings.icon.info",
          "options": [
            {
              "value": "none",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__1.label"
            },
            {
              "value": "group",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__2.label"
            },
            {
              "value": "notification",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__3.label"
            },
            {
              "value": "cloud_data",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__4.label"
            },
            {
              "value": "verified",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__5.label"
            },
            {
              "value": "truck",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__6.label"
            },
            {
              "value": "image_placeholder",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__7.label"
            },
            {
              "value": "help_call",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__8.label"
            },
            {
              "value": "filters",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__9.label"
            },
            {
              "value": "shopping_bag",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__10.label"
            },
            {
              "value": "global_shipping",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__11.label"
            },
            {
              "value": "barcode",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__12.label"
            },
            {
              "value": "delivery_box_1",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__13.label"
            },
            {
              "value": "delivery_box_2",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__14.label"
            },
            {
              "value": "statistic",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__15.label"
            },
            {
              "value": "review",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__16.label"
            },
            {
              "value": "email",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__17.label"
            },
            {
              "value": "coin",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__18.label"
            },
            {
              "value": "24_hour_clock",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__19.label"
            },
            {
              "value": "question",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__20.label"
            },
            {
              "value": "24_7_call",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__21.label"
            },
            {
              "value": "speech_bubbles",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__22.label"
            },
            {
              "value": "coupon",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__23.label"
            },
            {
              "value": "mobile_payment",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__24.label"
            },
            {
              "value": "calculator",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__25.label"
            },
            {
              "value": "secure",
              "label": "t:sections.content_tabs.blocks.tab.settings.icon.options__26.label"
            }
          ],
          "default": "none"
        },
        {
          "id": "header_image",
          "type": "image_picker",
          "label": "t:sections.content_tabs.blocks.tab.settings.header_image.label"
        },
        {
          "id": "header_image_width",
          "type": "range",
          "label": "t:sections.content_tabs.blocks.tab.settings.header_image_width.label",
          "min": 20,
          "max": 150,
          "step": 5,
          "unit": "px",
          "default": 25
        },
        {
          "type": "header",
          "content": "t:sections.content_tabs.blocks.tab.settings.content.header"
        },
        {
          "type": "paragraph",
          "content": "t:sections.content_tabs.blocks.tab.settings.content.paragraph"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.content_tabs.blocks.tab.settings.content.collection.label"
        },
        {
          "type": "range",
          "id": "products_limit",
          "label": "t:sections.content_tabs.blocks.tab.settings.content.products_limit.label",
          "min": 2,
          "max": 8,
          "step": 1,
          "default": 5
        },
        {
          "type": "range",
          "id": "number_of_items",
          "label": "t:sections.content_tabs.blocks.tab.settings.content.number_of_items.label",
          "info": "t:sections.content_tabs.blocks.tab.settings.content.number_of_items.info",
          "min": 2,
          "max": 4,
          "step": 1,
          "default": 4
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.content_tabs.blocks.tab.settings.content.text.label",
          "default": "<p>Tab content</p>"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.content_tabs.blocks.tab.settings.content.page.label"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.content_tabs.blocks.tab.settings.content.image.label"
        },
        {
          "id": "image_width",
          "type": "range",
          "label": "t:sections.content_tabs.blocks.tab.settings.content.image_width.label",
          "info": "t:sections.content_tabs.blocks.tab.settings.content.image_width.info",
          "min": 20,
          "max": 1280,
          "step": 20,
          "unit": "px",
          "default": 460
        },
        {
          "type": "header",
          "content": "t:sections.content_tabs.blocks.tab.settings.custom_code.header"
        },
        {
          "id": "liquid",
          "type": "liquid",
          "label": "t:sections.content_tabs.blocks.tab.settings.custom_code.liquid.label"
        },
        {
          "id": "html",
          "type": "html",
          "label": "t:sections.content_tabs.blocks.tab.settings.custom_code.html.label"
        },
        {
          "type": "header",
          "content": "t:sections.content_tabs.blocks.tab.settings.form.header"
        },
        {
          "id": "show_contact_form",
          "type": "checkbox",
          "label": "t:sections.content_tabs.blocks.tab.settings.form.show_contact_form.label",
          "info": "t:sections.content_tabs.blocks.tab.settings.form.show_contact_form.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.content_tabs.presets.name",
      "blocks": [
        {
          "type": "tab",
          "settings": {
            "title": "First tab",
            "text": "<p>Content of first tab</p>"
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "Second tab",
            "text": "<p>Content of second tab</p>"
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "Third tab",
            "text": "<p>Content of third tab</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
